# API URL (não usado quando em Netlify Functions)
VITE_API_URL=https://exaltart-backend.onrender.com/api

# Supabase
VITE_SUPABASE_URL=https://gyeftztensjukeofmqlz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd5ZWZ0enRlbnNqdWtlb2ZtcWx6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjA0NTQ5MjYsImV4cCI6MjA3NjAzMDkyNn0.nLiQPyEkK2KAwJ-Mc25hV1lCf_kXWDAKJ3frNCHmagQ

